.title-detail-journey{
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #3290a6;
}
.info-container{

  text-align: center;
  background-color: #3f00ff03;
  border-radius: 10px;
  padding: 0.2rem;
}

.flights{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flights h4{
  font-weight: bold;
}


@media (max-width: 486px) {
  .flights{
    justify-content: center;
  }
}
.coin{
  padding: 0.5rem;
  border: 1px solid #3290a6;
  border-radius: 8px;
}

.coin:focus-visible{
  outline: #3290a6;
}

.close{
  margin-left: 1rem;
  padding: 0.7rem;
  border: 2px solid #3290a6;
  border-radius: 12px;
}
